@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  color: #00ff00;
  background-color: black;
}

main {
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-glow {
    color: #7fff00;
    text-shadow: 0 0 5px #7fff00, 0 0 10px #7fff00, 0 0 15px #7fff00, 0 0 20px #7fff00;
  }
}

.cursor {
  display: inline-block;
  width: 1px;
  background-color: currentColor;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in forwards;
}

.animate-fade-out {
  animation: fadeOut 1s ease-out forwards;
}